@{
    Layout = null;
}

<html>
<head>
    <title>Hello from OneScript Server Pages</title>
    <link rel="stylesheet" href="~/css/demo.css"/>
</head>
<body>
    <h1>Привет!</h1>
    <p>Я страничка из сайта на языке 1С!</p>
</body>
</html>
