
*.ide
.vs/*
*.suo
src/.vs/
src/OneScript/bin/
src/OneScript/obj/
src/packages
src/OsWebTests/bin/
src/OsWebTests/obj/
src/OneScriptWeb.Tests/bin/
src/OneScriptWeb.Tests/obj/
.vagrant/
*.user

src/OneScript/Properties/launchSettings\.json
examples/hello/oscript_modules/

.env
src/.idea
src/OneScriptWeb.Infobase/bin
src/OneScriptWeb.Infobase/obj

artifact
