<h1>Привет!</h1>
<p>Я страничка из сайта на языке 1С!</p>

<p>Сайт на 1Script устроен очень просто. У него есть 3 основные части:
    <ul>
        <li><a asp-action="MainModule">Модуль приложения</a></li>
        <li><a asp-action="Controllers">Контроллеры</a></li>
        <li><a asp-action="PageTemplates">Шаблоны страниц</a></li>
    </ul>
</p>
<p>Сайт представляет собой каталог, внутри которого лежат все его составные части.</p>
<p><img src="~/images/content.gif"/></p>
<p>Ах, да. Есть еще и четвертая часть - статические файлы, которые являются частью страниц: картинки, файлы стилей (css) и клиентские скрипты (js).
    Но это есть в любом другом сайте, и про данный тип содержимого много рассказывать не будем. Все они лежат в каталоге wwwroot</p>

<h2>Тест динамической страницы</h2>
<p>Для проверки динамического содержимого <a asp-action="Index" asp-controller="server">нажмите ссылку</a></p>