<h1>Модуль приложения</h1>

<p>Модуль приложения это файл, расположенный в корне сайта, в файле <span class="term">main.os</span>.</p>
<p>Модуль определяет главные настройки приложения. При старте вызывается обработчик <span class="term">ПриНачалеРаботыСистемы</span>, в котором выполняются все необходимые настройки сайта.</p>
