
<h1>Зарегистрироваться в системе</h1>

<form method="POST" asp-action="@ViewContext.RouteData.Values["action"]">
    <div asp-validation-summary="All"></div>
    <div class="field">
        <label for="Name">Идентификатор</label>
        <input name="Name" value="@Model?.Имя"/>
    </div>
    <div class="field">
        <label for="Password">Password</label>
        <input type="password" name="Password" value="@Model?.Пароль"/>
    </div>
    <button type="submit">Сохранить</button>
</form>


<div><a asp-action="Login">Войти под уже существующем пользователем</a></div>