<h1>Параметры приложения</h1>

<h2>Конфигурационный файл</h2>
@foreach(var kv in Model) {
    <h3>Секция @kv.Key (@kv.Value)</h3>

}

<h2>Параметры сервера</h2>
<a asp-action="Environment">Нажми для просмотра окружения</a>