<div>Проверим кто ты пользователь с автоперезагрузкой ghb</div>

@if (User.Identity.IsAuthenticated)
{
    <li><a  asp-controller="Home" asp-action="Logout">Logout</a></li>
}
else
{
    <li><a asp-controller="Home" asp-action="Login">Login</a></li>
}

<p>
    <a href="/jobserver">Консоль фоновых заданий</a>
</p>
