<div>Проверим кто ты пользователь с автоперезагрузкой - реально </div>

@if (User.Identity.IsAuthenticated)
{
    <li><a  asp-controller="Home" asp-action="Logout">Logout</a></li>
}
else
{
    <li><a asp-controller="Home" asp-action="Login">Login</a></li>
}
