<div class="ui divided items">
    @foreach(var row in Model) {
      <div class="item">
        <div class="image"><i class="laptop massive icon"></i></div>
        <div class="middle aligned content">
            <div class="meta">
                <span>Наименование: @row.Наименование</span>
            </div>
        </div>
      </div>
    }
</div>