<h1>Контроллеры</h1>

<p>Контроллеры - это главная часть веб-приложения. Именно они являются точкой входа в http-вызов и именно они определяют, что именно будет возвращено клиенту.</p>
<p>Контроллеры в 1Script опираются на т.н. "соглашения". Главным соглашением является то, что экспортные методы контроллера являются "Действиями" (actions) в терминологии MVC.</p>

<h2>Маршрутизация</h2>

<p>Каждый запрошенный адрес может быть разбит на "сегменты". Сегменты в адресе разделяются символами косой черты (/). Например, адрес этой страницы - /Home/Controllers</p>
<p>Здесь в адресе 2 сегмента: Home и Controllers. Сейчас сайт настроен таким образом, что первый сегмент равен имени контроллера, второй - действию внутри контроллера.</p>

<h2>Создание контроллеров</h2>

<p>Контроллеры расположены в папке <span class="term">controllers</span>. Каждый контроллер - это os-файл, чье имя - это имя контроллера в адресе, и чьи экспортные методы это "действия" в адресе.</p>
<p>Таким образом, текущая веб-страница сформирована контроллером "Home" и логикой экспортного метода с именем "Controllers".</p>