<h1>Шаблоны страниц</h1>

<p>Сейчас движок 1Script использует штатный шаблонизатор ASP.NET под названием Razor. Соответственно, все, что нужно знать про написание страниц - написано в документации Microsoft.</p>
<p>Данный сайт-пример слишком короткое место, чтобы описать все это полностью.</p>

<p>Шаблоны страниц располагаются в папке <span class="term">views</span>. Внутри этой папки лежат модули Razor с расширениями .cshtml</p>
<p>Страницы, отвечающие на "действия" <a asp-action="Controllers">контроллеров</a> расположены в иерархии папок по принципу "Контроллер/Действие.cshtml"</p>