<h1>Параметры сервера</h1>

<table>
    <th>
        <td>Ключ</td>
        <td>Значение</td>
    </th>
    @foreach(var kv in Model) {
        <tr>
            <td>@kv.Ключ</td>
            <td>@kv.Значение</td>
        </tr>
    }
</table>